controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

http_health_check:
    path: /httpHealthCheck
    controller: App\Controller\HealthCheckController::getHttpHealthCheck

db_health_check:
    path: /databaseHealthCheck
    controller: App\Controller\HealthCheckController::getDatabaseHealthcheck

api_login_check:
    path: /api/login_check

api_register:
    path: /api/register
    controller: App\Controller\RegistrationController::register
    methods: [ 'POST' ]

api_movie_search:
    path: /api/movie/search/{page}
    controller: App\Controller\MovieController::search
    defaults: { page: 1 }
    methods: [ 'GET' ]

api_movie_get:
    path: /api/movie/get/{tmdbId}
    controller: App\Controller\MovieController::get
    methods: [ 'GET' ]

api_movie_add_meta:
    path: /api/movie/addMeta/{tmdbId}
    controller: App\Controller\MovieController::addMeta
    methods: [ 'POST' ]